---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArrowRight from "../components/ArrowRight.astro";
import LinkList, { type Link } from "../components/LinkList.astro";

const PROJECTS = [
  {
    title: "AI Project Manager",
    description:
    "Developing a project management tool that uses AI.",
    tags: ["Software Development", "Product Management"],
    slug: "omnistra",
  },
]

const WORK = [
  {
    title: "Small Victories",
    description:
      "Led Development of application which takes files in a Dropbox folder and turns them into a website.",
    tags: ["Software Development", "Product Management"],
    slug: "small-victories",
  },
  {
    title: 'Climate Salad',
    description: 'Led Design and Development of a new member and data platform.',
    tags: ['Product Design', 'Software Development', 'Product Management'],
    slug: 'climate-salad',
  },
  {
    title: 'A Township Tale',
    description: 'Product Design and Development for for all web and desktop front-ends that support the A Township Tale VR game.',
    tags: ['Product Design', 'Software Development', 'Product Management'],
    slug: 'a-township-tale',
  },
  {
    title: 'Wise',
    description: 'Led Development of applications to create shared reading lists within teams.',
    tags: ['Software Development', 'Product Management'],
    slug: 'wise',
  },
  {
    title: 'Franke',
    description: 'Led Development of application to send emails directly into Slack channels.',
    tags: ['Software Development', 'Product Management'],
    slug: 'franke',
  },
];

const LINKS: Link[] = [
{
  title: "Work",
  url: "/work",
  description: "View a list of my projects and work history.",
},
{
  title: "@mikedijkstra",
  url: "https://github.com/mikedijkstra",
  description: "Check out my code and open source contributions on GitHub."
  },
  {
    title: "mikedijkstra",
    url: "https://linkedin.com/in/mikedijkstra",
    description: "Connect with me on LinkedIn."
  },
  {
    title: "Contact",
    url: "/contact",
    description: "Get in touch with me directly."
  },
  {
    title: "👀",
    url: "/archive",
    description: "Have a look at my secret archive.",
    hidden: true
  }
]
---

<BaseLayout
  pageTitle="Michael Dijkstra - Product Designer and Full Stack Developer"
  pageDescription="Michael Dijkstra is a product designer and Full Stack Developer with 15 years of experience building digital products."
  bodyClass="bg-gulf text-white font-sans"
>
  <div class="space-y-24 py-24 px-6">
    <div class="flex gap-3 flex-col text-center items-center max-w-4xl mx-auto">
      <svg
        id="splash"
        width="360px"
        height="115px"
        viewBox="0 0 1120 360"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        class="w-full h-auto"
      >
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <a href="/archive/" class="group" title="Archive">
            <g>
              <path
                d="M194.29,21.42 C194.29,9.56
            203.85,-5.68429852e-14 216.47,-5.68429852e-14
            C222.212499,-0.0882883128 227.750986,2.12781335
            231.847574,6.15299237 C235.944161,10.1781714 238.257304,15.6768359

            238.27,21.42 C238.27,34.04 228.71,43.61 216.47,43.61
            C210.548665,43.7366751 204.832187,41.4408938 200.64327,37.2538638
            C196.454352,33.0668337 194.155994,27.3513914 194.28,21.43
            L194.29,21.42 Z"
                id="Path"
                fill="currentColor"
                class="group-hover:fill-torch"></path>
            </g>
          </a>
          <a href="/archive/" class="group" title="Archive">
            <g>
              <path
                d="M260.08,21.8 C260.08,9.94 270.03,0 283.03,0 C294.89,0 305.21,9.94 305.22,21.8 C305.22,34.8 294.89,44.75 283.04,44.8 C276.910934,44.9261475 270.994885,42.5503952 266.655349,38.220293 C262.315813,33.8901908 259.927191,27.9793255 260.04,21.85"
                id="Path"
                fill="currentColor"
                class="group-hover:fill-torch"></path>
            </g>
          </a>
          <path
            d="M170.21,279.22 L139.99,279.22 L139.99,246.71 C127.37,267.02 107.86,283.02 82.62,283.02 C35.95,283.02 -1.42108547e-14,244.02 -1.42108547e-14,190.08 C-1.42108547e-14,138.44 34.42,97.51 82.23,97.51 C107.86,97.51 126.98,112.42 139.61,131.51 L139.61,3.83 L170.21,3.83 L170.21,279.22 Z M142.28,190.48 C142.28,152.23 118.18,123.93 84.14,123.93 C54.31,123.93 31.74,151.09 31.74,190.1 C31.74,229.11 53.55,257.02 84.53,257.02 C117.81,257.02 142.28,225.65 142.28,190.46 L142.28,190.48 Z"
            id="Shape"
            fill="currentColor"
            fill-rule="nonzero"></path>
          <polygon
            id="Shape"
            fill="currentColor"
            fill-rule="nonzero"
            points="231.77 279.22 200.77 279.22 200.77 101.36 231.77 101.36"
          ></polygon>
          <path
            d="M267.73,247.09 L267.73,101.36 L298.33,101.36 L298.33,248.62 C298.33,314.79 272.71,343.48 238.33,359.55 L216.53,335.84 C244.83,319.77 267.78,306.38 267.78,247.1"
            id="Shape"
            fill="currentColor"
            fill-rule="nonzero"></path>
          <polygon
            id="Shape"
            fill="currentColor"
            fill-rule="nonzero"
            points="470.09 279.21 434.51 279.21 387.08 188.18 353.42 219.16 353.43 279.22 322.83 279.22 322.81 3.82 353.41 3.82 353.42 180.15 435.65 101.35 480.79 101.35 409.65 167.14"
          >
          </polygon>
          <path
            d="M546.57,123.53 C522.09,123.53 508.32,135.01 508.32,147.25 C508.32,157.19 515.59,162.93 527.06,166.76 C546.95,173.64 559.19,175.56 576.4,181.68 C596.29,188.56 612.74,201.57 612.74,227.58 C612.74,255.12 589.79,283.04 545.04,283.04 C502.97,283.04 474.28,259.71 473.13,220.32 L504.13,213.05 C501.07,238.68 517.13,256.27 544.29,256.27 C569.92,256.27 581.39,242.5 581.39,227.96 C581.39,216.1 573.39,210.37 559.59,206.16 C545.44,201.95 530.52,198.89 514.07,192.39 C490.36,183.21 477.35,169.06 477.35,146.88 C477.35,119.34 509.48,97.54 546.58,97.53 C581,97.53 617.34,112.06 620.4,156.81 L589.4,162.93 C593.22,136.93 572.19,123.53 546.56,123.54"
            id="Shape"
            fill="currentColor"
            fill-rule="nonzero"></path>
          <path
            d="M719.09,283.02 C688.49,283.02 665.54,262.37 665.54,227.56 L665.54,128.49 L622.73,128.49 L622.73,101.34 L665.53,101.34 L665.53,3.82 L696.13,3.82 L696.13,101.33 L768.42,101.33 L768.42,128.49 L696.13,128.49 L696.13,227.17 C696.13,247.06 705.7,255.47 722.13,255.47 C739.72,255.47 748.9,240.17 745.84,211.47 L777.2,214.91 C774.93,277.27 741.65,283.02 719.09,283.02"
            id="Shape"
            fill="currentColor"
            fill-rule="nonzero"></path>
          <path
            d="M928.28,191.97 L895,191.97 C912.59,152.19 903.79,125.03 872.43,125.04 C846.04,125.04 827.3,150.29 827.3,208.04 L827.3,279.18 L796.73,279.18 L796.73,101.32 L827.33,101.32 L827.33,130.77 C837.66,111.65 854.1,97.49 878.2,97.49 C926.78,97.49 948.58,138.41 928.31,191.96"
            id="Shape"
            fill="currentColor"
            fill-rule="nonzero"></path>
          <path
            d="M1067.9,240.54 C1057.57,264.64 1039.22,283 1007.09,283 C973.43,283 953.16,255.46 953.16,227.54 C953.16,195.03 974.16,179.73 1021.24,174.75 C1037.3,173.22 1052.24,170.54 1062.93,163.66 L1062.93,155.66 C1062.93,127.36 1041.93,123.92 1022.77,123.92 C999.82,123.92 976.11,136.55 985.29,165.23 L953.16,156.43 C948.16,112.43 991.02,97.52 1023.92,97.52 C1058.73,97.52 1093.15,108.61 1093.16,154.12 L1093.16,212.26 C1093.16,248.26 1111.91,268.87 1119.56,279.19 L1084.73,279.19 C1076.73,268.48 1070.58,256.62 1067.9,240.56 M1064.07,188.56 C1054.51,194.3 1041.89,198.12 1025.82,200.42 C999.05,204.25 984.51,208.42 984.51,228.35 C984.51,242.89 994.84,256.27 1012.82,256.27 C1036.15,256.27 1059.48,235.27 1064.07,188.57"
            id="Shape"
            fill="currentColor"
            fill-rule="nonzero"></path>
        </g>
      </svg>
      <p class="text-4xl leading-12 max-w-3xl">
        Product Designer and Full Stack Developer
      </p>
    </div>

    <div class="space-y-6">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl">
          <span class="-ml-1 pr-4">👋</span> Hello
        </h2>
      </div>
      <div class="max-w-3xl text-4xl leading-12 mx-auto space-y-6">
        <p>
          My name is Michael Dijkstra and I create digital products that are
          fast, reliable and easy to use.
        </p>

        <p>
          Over the past 15 years, I've worked across the entire product
          lifecycle as a product manager, product designer, and full stack developer with companies
          of all sizes&mdash;from startups to enterprises.
        </p>

        <p>
          Please browse my work and get in touch if you&rsquo;d like to chat. ✌️
        </p>
      </div>
    </div>

    <div class="space-y-6">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl">
          <span class="-ml-1 pr-4">👨‍💻</span> What I'm working on
        </h2>
      </div>

      <div class="max-w-3xl mx-auto relative">
        <div class="project-items text-2xl space-y-12">
          {
            PROJECTS.map(({ title, description, tags, slug }) => (
        <a href={`/work/${slug}`} class="group block before:hidden lg:before:block">
          <div
            class="relative bg-body-highlight group-hover:bg-body-highlight-focus bg-blur-10 rounded-xl flex-1 p-6 transition-colors duration-300 ease-out"
          >
                <h3 class="text-3xl leading-tight mb-2">{title}</h3>
                <p class="mb-2 leading-relaxed">
                {description}
                </p>
                {tags ? <div class="flex flex-wrap gap-2 mt-4">
                  {tags.map((tag) => {
                  return (<span class="text-xl whitespace-nowrap">{tag}</span> <span class="text-xl last-of-type:hidden">&bull;</span>)
                  })}
                </div> : null}
            <div
              class="absolute right-6 group-hover:right-4 w-6 top-8 sm:-translate-y-1/2 duration-300 ease-out"
            >
              <ArrowRight />
            </div>
            </div>
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl">
          <span class="-ml-1 pr-4">🚀</span> Things I've built
        </h2>
      </div>

      <div class="max-w-3xl mx-auto relative">
        <div class="project-items text-2xl space-y-12">
          {
            WORK.map(({ title, description, tags, slug }) => (
        <a href={`/work/${slug}`} class="group block before:hidden lg:before:block">
          <div
            class="relative bg-body-highlight group-hover:bg-body-highlight-focus bg-blur-10 rounded-xl flex-1 p-6 transition-colors duration-300 ease-out"
          >
                <h3 class="text-3xl leading-tight mb-2">{title}</h3>
                <p class="mb-2 leading-relaxed">
                {description}
                </p>
                {tags ? <div class="flex flex-wrap gap-2 mt-4">
                  {tags.map((tag) => {
                  return (<span class="text-xl whitespace-nowrap">{tag}</span> <span class="text-xl last-of-type:hidden">&bull;</span>)
                  })}
                </div> : null}
            <div
              class="absolute right-6 group-hover:right-4 w-6 top-8 sm:-translate-y-1/2 duration-300 ease-out"
            >
              <ArrowRight />
            </div>
            </div>
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="space-y-6">
      <div class="max-w-4xl mx-auto">
        <h2 class="text-4xl">
          <span class="-ml-1 pr-4">🆒</span> Links to browse
        </h2>
      </div>

      <LinkList links={LINKS} />
    </div>
  </div>

  <div class="text-center p-12">
    <p class="text-xl">
      <a href="/colophon" class="link current">
        Colophon
      </a>
    </p>
</BaseLayout>

<style>
  .project-items > * {
    counter-increment: count;
    display: block;
  }

  .project-items > *::before {
    content: counter(count);
    font-size: var(--text-3xl);
    line-height: var(--leading-tight);
    text-align: right;
    position: absolute;
    left: -60px;
    margin-top: 0.8em;
  }

  .project-items > *:nth-child(-n + 9)::before {
    content: "0" counter(count);
  }
</style>
